<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perplexity-Lite</title>
    <link rel="icon" href="./static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,300&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/script.js"></script>
</head>
<body>
    <h1>Perplexity-Lite</h1>     
    </div>
    <div class="search">
        <form method="get" action="\search" id="form">
            <input type="text" id="question" placeholder="what do you want to know today?" name="question">
            <button type="submit" title="btn" id="btn"><i class="fa fa-search"></i></button>
        </form>
    </div> 
    <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    <div class="url"><a id="url" style="color: aliceblue;"></a></div>
    <div id="answer"></div>
    
</body>
</html>